name: VitalSource Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: Azure Pipelines Action
      uses: Azure/pipelines@v1
      with:
        azure-devops-project-url: https://dev.azure.com/diegolinares3/Demo01
        azure-pipeline-name: 'Demo01-CI'
        azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Start containers
      run: |
        cd $GITHUB_WORKSPACE
        docker-compose up -d
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: linting
      uses: alexanderdamiani/pylinter@v1.1.1
      with:
        python-root: '.'
        flake8-flags: ''
        mypy-flags: '--ignore-missing-imports'
        fail-on-isort: false
        skip-flake8: true
 #   - name: Instalando pip
  #    - uses: actions/checkout@v2
    #  - uses: actions/setup-python@v1
  #    - uses: BSFishy/pip-action@v1
    #    with:
    #      packages: |
     #       package1
     #       package2
   #   - run: python main.py
    - name: commit isort changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A && git diff-index --cached --quiet HEAD || git commit -m 'isort'
    - name: push isort changes
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}

        # calling via python will also add the current directory to sys.path
    - name: Run unit tests
      run: |
        cd $GITHUB_WORKSPACE
        pytest --alluredir=./Reports Testcases/test_webdriver_integration.py

    - name: Allure Results
      uses: simple-elf/allure-report-action@master
      if: always()
      id: allure-report
      with:
        allure_results: Reports
        allure_report: allure-report
        gh_pages: gh-pages
        allure_history: allure-history

    - name: Deploy report to Github Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v2
      env:
        PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: allure-history
